@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #111;
  background-color: #fff;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Mulish", sans-serif;
  border: 0;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #cc0000;
}

img {
  display: block;
  max-width: 100%;
}

/*===========================================================================*/
.font-primary {
  font-family: "Roboto Condensed", sans-serif;
}

.font-secondary {
  font-family: "Arial", sans-serif;
}

/*===========================================================================*/
.w-670 {
  max-width: 41.875rem;
  margin: 0 auto;
}

.w-980 {
  max-width: 61.25rem;
  margin: 0 auto;
}

.w-992 {
  max-width: 62rem;
  margin: 0 auto;
}

.w-1040 {
  max-width: 65rem;
  margin: 0 auto;
}

.w-1080 {
  max-width: 67.5rem;
  margin: 0 auto;
}

.w-1192 {
  max-width: 74.5rem;
  margin: 0 auto;
}

.w-1200 {
  max-width: 75rem;
  margin: 0 auto;
}

.w-1220 {
  max-width: 76.25rem;
  margin: 0 auto;
}

.w-1366 {
  max-width: 85.375rem;
  margin: 0 auto;
}

.w-1440 {
  max-width: 90rem;
  margin: 0 auto;
}

.w-1920 {
  max-width: 120rem;
  margin: 0 auto;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 1.5rem;
  background-color: #fff;
  color: #fff;
  outline: none;
}

/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-6x3 {
  padding-bottom: 70%;
}

.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=================================================================*/
.text-gray-11 {
  color: #111;
}

.text-gray-22 {
  color: #222;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-55 {
  color: #555;
}

.text-gray-74 {
  color: #747474;
}

.text-gray-76 {
  color: #767676;
}

.text-gray-77 {
  color: #777;
}

.text-gray-80 {
  color: #808080;
}

.text-gray-99 {
  color: #999;
}

.text-gray-36 {
  color: #363636;
}

.text-gray-aa {
  color: #aaaaaa;
}

.text-gray-b2 {
  color: #b2b2b2;
}

.text-gray-f5 {
  color: #f5f5f5;
}

.text-gray-5d {
  color: #5d5d5d;
}

.text-black {
  color: #000;
}

.text-red-a5 {
  color: #a51515;
}

.text-red-c3 {
  color: #c32a32;
}

.text-red-c9 {
  color: #c90000;
}

.text-red-ca {
  color: #ca1f43;
}

.text-red-ce {
  color: #ce0505;
}

.text-red-cc0 {
  color: #cc0000;
}

.text-red-ec {
  color: #ec1f27;
}

.text-red-f7 {
  color: #f7201a;
}

/*=================================================================*/
.bg-red-a5 {
  background-color: #a51515;
}

.bg-red-ca {
  background-color: #ca1f43;
}

.bg-gray-f9 {
  background-color: #f9f9f9;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.form-control-t {
  width: 100%;
  border: none;
  height: 2.125rem;
  padding: 1rem;
}

/*=================================================================*/
.border-white {
  border: 1px solid #fff;
}

.border-gray-76 {
  border: 1px solid #767676;
}

.border-gray-aa {
  border: 1px solid #aaa;
}

.border-gray-e5 {
  border: 1px solid #e5e9ec;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.shadow1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.shadow2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*=================================================================*/
.line-height-21 {
  line-height: 1.3125rem;
}

.line-height-28 {
  line-height: 1.75rem;
}

/*=================================================================*/
.dashed-1 {
  border-bottom: 1px dashed #e5e5e5;
}

.dashed-2 {
  border-top: 1px dashed #e5e5e5;
}

/*=================================================================*/
.d-grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gap-16 {
  grid-gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
}

#header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.top-header-wrapper {
  padding: 0.375rem 0;
}

.top-header {
  height: 1.5rem;
}

.top-header__left-item + .top-header__left-item,
.main-header__right-item + .main-header__right-item {
  margin-left: 1.25rem;
}

.top-header__left-item--link.active {
  color: #ca1f43;
}

.top-header__left-item--link:hover {
  color: #ca1f43;
}

.top-header__right-item {
  padding: 0 0.625rem;
  border-right: solid 1px #dcdadf;
}

.top-header__right-item--twitter {
  background-color: #1d9bf0;
}

.main-header-wrapper {
  padding: 0.625rem 0;
  border-top: 1px solid #e5e5e5;
}

.main-header__right--btn {
  padding: 0.25rem 0.9375rem;
  background: #fff;
  border: 1px solid #dcdadf;
  color: #4c4c4c;
  font-family: arial;
}

.main-header__left-logo img {
  width: 204px;
  height: auto;
}

.main-header__right-item:nth-child(n+3) .main-header__right--btn {
  background: linear-gradient(180deg, #fff, #f2f2f2);
}

.navigation-bar {
  padding: 0.5rem 0;
}

.navigation-bar-item {
  position: relative;
}

.navigation-bar-item + .navigation-bar-item {
  margin-left: 1.5rem;
}

.navigation-bar-item__children {
  padding: 0.325rem 4rem 0.325rem 0.5rem;
  width: max-content;
  min-width: -webkit-fill-available;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navigation-bar-item__children:hover {
  background-color: #ca1f43;
}

.navigation-bar-item__children:hover a {
  color: #fff;
}

.navigation-bar-item__dropdown:before {
  position: absolute;
  content: "";
  height: 0.75rem;
  width: 100%;
  background-color: transparent;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.navigation-bar-item__dropdown {
  position: absolute;
  margin-top: 11px;
  z-index: 100;
  display: none;
}

.navigation-bar-item:hover .navigation-bar-item__dropdown {
  display: block;
}

.search {
  background: #fff;
  padding: 1rem;
  right: 0;
  top: 1.5rem;
  display: none;
  z-index: 1000;
}

.search.show {
  display: block;
}

.form-search-pc {
  width: 12.5rem;
  border: 1px solid #e5e5e5;
  flex: 1;
}

.btn-search {
  padding: 0.25rem 0.975rem;
  flex-shrink: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  height: 2.125rem;
}

.top-header__right-item--search {
  cursor: pointer;
  user-select: none;
}

.sub-menu-mb-wrapper {
  position: fixed;
  width: 100%;
  height: calc(100% + 1px);
  z-index: 9999;
  overflow: auto;
  top: 0;
  left: -100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.sub-menu-mb {
  position: relative;
}

.sub-menu-mb-wrapper.active {
  left: 0;
  visibility: visible;
}

.sub-menu-mb-share--item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-sub-menu {
  position: absolute;
  left: 240px;
  top: 0.875rem;
  background: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu-mb-item {
  padding: 0.75rem;
  border-bottom: 1px solid #e5e5e5;
}

.sub-menu-mb-child {
  padding: 9px 26px 9px 36px;
}

.sub-menu-mb-dropdown {
  display: none;
}

.sub-menu-mb-item.active .sub-menu-mb-dropdown {
  display: block;
}

.sub-menu-mb-item.active .sub-menu-mb-icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.sub-menu-mb-content {
  padding-bottom: 3rem;
  background-color: #fff;
  width: 15rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.sub-menu-mb-item--search {
  background-color: #d80a0a;
}

.btn-search-mb {
  position: absolute;
  border: none;
  background: transparent;
  right: 0.5rem;
}

.form-search-mb {
  padding-right: 2rem;
}

.sub-menu-mb-item-text {
  padding: 1.25rem 0.3125rem 50px 0.9375rem;
  color: #838282;
}

#main {
  padding-top: 1.5625rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 20rem;
}

.main-left {
  border-right: 1px solid #e5e5e5;
}

.main-left-row-one__large {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.main-left-row-one__large--content {
  width: 40%;
  padding-right: 1.25rem;
}

.main-left-row-one__large--img {
  width: 60%;
  flex-shrink: 0;
}

.main-left-row-one__large--related-new--item::before {
  position: absolute;
  content: "";
  background-color: #cc0000;
  width: 0.25rem;
  height: 0.25rem;
  top: 0.5rem;
  left: 0.325rem;
}

.main-left-index-trending-icon {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #cc0000;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.main-left-index-list {
  height: 3.75rem;
  flex: 1;
  background-color: #666;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  flex-wrap: wrap;
}

.main-left-index--item {
  padding: 0 0.75rem;
}

.main-left-index--item a:hover {
  opacity: 0.8;
}

.financial-picture {
  background-color: #fbf0cc;
}

.financial-picture-title {
  background-color: #f5e2a5;
}

.financial-picture-title a {
  border-left: 0.5rem solid #ec1f27;
}

.financial-picture-content {
  max-width: 700px;
  padding: 0.625rem;
}

.financial-picture-content .slick-slide {
  margin: 0.5rem;
}

.financial-picture-content .slick-dots li.slick-active button:before {
  background-color: #20b2aa;
}

.financial-picture-content .slick-dots li button:before {
  content: "";
  width: 2rem;
  height: 0.325rem;
  background-color: #000;
}

.financial-picture-content .slick-dots li {
  width: 1.85rem;
}

.box-master-block--img img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.box-master {
  border-top: 1px solid #e5e5e5;
  max-width: 700px;
}

.box-master-block--left {
  flex-shrink: 0;
}

.box-master-block--right {
  font-style: italic;
  flex: 1;
  padding: 0.375rem 0 1rem 1.25rem;
  position: relative;
}

.box-master-block--right::before {
  position: absolute;
  content: "❝";
  font-size: 5rem;
  color: #aaa;
  left: -2.75rem;
  top: -1.25rem;
}

.box-master .slick-next:before,
.slick-prev:before {
  color: #ccc;
  font-size: 1.75rem;
}

.box-master .slick-next,
.slick-prev {
  top: 100%;
}

.box-master .slick-next {
  right: 0;
}

.box-master .slick-prev {
  left: auto;
  right: 2rem;
}

.article-img {
  width: 35%;
  flex-shrink: 0;
}

.article-content {
  width: 65%;
  flex: 1;
}

.article {
  border-bottom: 1px solid #e5e5e5;
}

.article:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.vnf-title {
  background-color: #c12931;
}

.vnf-title a {
  border-left: 0.5rem solid #9e0c14;
}

.vnf-content {
  background-color: #f5f5f5;
}

.numbers-event-title {
  background-color: #f0f0f0;
}

.numbers-event-title a,
.read-a-lot-title a {
  border-left: 0.325rem solid #ed1b24;
}

.numbers-event-content {
  border-top: none;
}

.numbers-event-block__img {
  width: 45%;
  flex-shrink: 0;
}

.numbers-event-block__content {
  width: 55%;
  flex: 1;
  padding-left: 1rem;
}

.numbers-event-block__number {
  padding: 0 1.25rem;
  font-size: 3.375rem;
  background-color: #ed1b24;
  display: inline-block;
  transform: translateX(-2rem);
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  -ms-transform: translateX(-2rem);
  -o-transform: translateX(-2rem);
}

.numbers-event-block__number a {
  color: #fefefe;
}

.see-more-btn {
  font-size: 20px;
  background-color: #f9f9f9;
  border: solid 1px #ddd;
  padding: 0.25rem 1.25rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #999;
}

.read-a-lot-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem 2rem;
}

.read-a-lot-content__block p:first-child {
  min-width: 2.75rem;
  text-align: center;
}

.items-block {
  grid-gap: 3rem 1.25rem;
}

.item-block--content__large,
.item-block--content__thumb {
  border-bottom: 1px solid #e5e5e5;
}

.search-pc {
  padding: 0.625rem;
  background-color: #efefef;
}

.btn-search {
  background-color: #efefef;
  border: 1px solid #c8c8c8;
}

.category-title {
  padding-left: 0.75rem;
  border-left: 0.375rem solid #cc0000;
  line-height: 1;
}

.cate-left-row-one {
  grid-template-columns: 25rem 1fr;
}

.pagination-item {
  padding: 3px 10px;
  margin: 0 5px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item.active {
  background-color: #ed1b24;
}

.pagination-item.active a {
  color: #fff;
}

.pagination-item:hover {
  background-color: #ed1b24;
}

.pagination-item:hover a,
.pagination-item:hover i {
  color: #fff;
}

.detail-top {
  display: grid;
  grid-template-columns: 66px 1fr;
  grid-gap: 1.25rem;
}

.detail-share__item {
  width: 66px;
  height: 44px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.detail-share__item + .detail-share__item {
  margin-top: 0.625rem;
}

.detail-share__item--like {
  display: inline-block;
  border: 1px solid #333;
}

.detail-share__item--fb {
  background-color: #3067a3;
}

.detail-share__item--twitter {
  background-color: #00aced;
}

.detail-share__item--email {
  background-color: #efb257;
}

.detail-top-content__new figcaption {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  color: #333;
  font-family: "arial";
}

.detail-top-content__new figure {
  margin-bottom: 1rem;
}

.detail-top-content__new > h2,
.detail-top-content__new > h3,
.detail-top-content__new > h4,
.detail-top-content__new > h5,
.detail-top-content__new > h6 {
  font-size: 22.5px;
  font-weight: 700;
  color: #333;
}

.detail-top-content__new > p {
  font-size: 15px;
  color: #333;
  margin: 10px 0;
}

.detail-top-content__new > p strong {
  font-weight: 700;
}

.detail-top-content__new em {
  font-style: italic;
}

.detail-related-news {
  background-color: #f9f9f9;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}

.detail-related-new--title {
  padding: 9px 0;
}

.detail-related-new {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.detail-related-new span {
  margin-top: 5px;
  display: inline-block;
}

.detail-related-new:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.detail-same-cate--right__img {
  flex-shrink: 0;
  width: 35%;
}

.detail-same-cate--right__text {
  flex: 1;
  width: 65%;
}

.share-mb {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.share-mb-item--fb,
.share-mb-item--twitter {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.share-mb-item--fb i,
.share-mb-item--twitter i {
  color: #fff;
}

.share-mb-item--fb {
  background-color: #3067a3;
}

.share-mb-item--twitter {
  background-color: #00aced;
}

.share-mb-item {
  margin-left: 0.625rem;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #a51515;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
}

.main-footer strong {
  font-weight: 700;
}

.main-footer--left,
.main-footer--center,
.main-footer--right {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.main-footer--left,
.main-footer--center {
  border-right: 1px solid #e5e5e5;
}

.main-footer--right-item {
  margin: 0.325rem;
}

.main-footer--right-item a {
  display: inline-block;
  padding: 0.325rem 0.625rem;
  border: 1px solid #333;
}

.main-footer--right-list {
  display: none;
}

/*# sourceMappingURL=style.css.map */
