.detail-top {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 1.5rem;
}
.detail-navbar {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.detail-time-public {
  border-right: 1px solid #ebebeb;
  padding: 0.5rem 0.625rem 0.5rem 0;
}
.detail-navbar-item {
  padding: 0 0.625rem;
}
.detail-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-gap: 1.25rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1.5rem;
}
.detail-content--right > p,
.detail-content--right > h2,
.detail-content--right > h3,
.detail-content--right > h4,
.detail-content--right > h5,
.detail-content--right > h6 {
  max-width: 37.5rem;
  margin: auto;
  margin-bottom: 1.625rem;
  font-size: 1rem;
  color: #222;
  line-height: 1.75rem;
}
.detail-content--right > h2,
.detail-content--right > h3,
.detail-content--right > h4,
.detail-content--right > h5,
.detail-content--right > h6 {
  font-size: 27px;
}
.detail-content--right figcaption {
  text-align: left;
  margin: 6px 0 26px 0;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  line-height: 17px;
  color: #444;
}
.detail-content--right strong {
  font-weight: 600;
}
.detail-content--left {
  position: relative;
  height: 100%;
}
.detail-share {
  position: sticky;
  top: 5rem;
}
.detail-share-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.detail-share-item:hover {
  opacity: 0.8;
}
.detail-share-fb {
  background-color: #516eab;
}
.detail-share-twitter {
  background-color: #29c5f6;
}
.detail-share-pinter {
  background-color: #ca212a;
}
.detail-share-whatsapp {
  background-color: #7bbf6a;
}
.same-category__title {
  border-left: 0.25rem solid #c90000;
  padding: 0 0.75rem;
  margin-bottom: 1.625rem;
}
.same-category__hang {
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #222;
  padding: 0.25rem 0.375rem;
}
.same-category__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}
.detail-read-more-img {
  flex-direction: 0;
  width: 35%;
}
.detail-read-more-content {
  flex: 1;
  width: 65%;
  padding-left: 1.25rem;
}
